@model Department
@{
    ViewData["Title"] = @Model.Name;
}
<h1>Employee Details<a href="/department/index"> Go Back</a></h1>

<ul class="list-group">
  <li class="list-group-item active">Department name: @Model.Name</li>

  <li class="list-group-item active">Department Code: @Model.Code</li>
  <li class="list-group-item active">Description: @Model.Description</li>
  <li class="list-group-item active">Start Date: @Model.StartDate</li>
  <li class="list-group-item">Employees in this department:
    <ul class="list-group list-group-flush">
      @foreach (var emp in Model.Employees)
      {
        <li class="list-group-item">@emp.FirstName</li> 
      }
    </ul>
  </li>
  
</ul>